
:root {
  --textColor:  black; 
  --outerColor: #AFD2FD; 
  --innerColor: #D7E9FE; 
}


body {
  background-color:var(--outerColor);
  color:var(--textColor);
}


a {
  color:var(--textColor);
  text-decoration:underline;
}

a:hover{
  text-decoration:underline double;
}

nav a {
  text-align: center;
  padding: 3px;
}

nav a.active{
  background-color:var(--innerColor);
}

h1, h2, h3 {
  color:var(--textColor);
}

header {
  max-width:900px;
  padding:25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width:125px;
  float: right;
  clip-path: circle();
  margin-left: 10px;
}

section {
  max-width:900px;
  background-color:var(--innerColor);
  padding:25px;
  margin-left: auto;
  margin-right: auto;
}

li + li {
  margin-top: 10px;
}





@media screen and (min-width: 800px) {

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    padding-left:25px;
    max-width:925px;
  }

  header h2{
    float:left;
  }
  nav{
    float: right;
  }

  nav a{
    padding:10px;
  }

}