body {
  background-color: lightblue;
}

header {
  width:275px;
  float:left;
}

section {
  width:400px;
  margin-left: 325px;
}

h1 {
color: navy;
}


@media screen and (max-width: 725px) {

  header, section {
    width:100%;
    float:none;
    margin-left:0px;
  }

}