body {
  background-color: lightblue;
  padding:50px;
  margin:0px;
}

header {
  width:250px;
  float:left;
  position:fixed;
}

header img {
  max-width:250px;
}

section {
  max-width:900px;
  margin-left: 300px;
}

h1 {
color: navy;
}


@media screen and (max-width: 700px) {

  header, section {
    width:100%;
    float:none;
    margin-left:0px;
    position:static;
  }

}