body {
  background-color: aliceblue;
  padding:50px;
  margin:0px;
}

a {
  color: blue;
}

header, section {
  font-size:120%;
}


header {
  width:250px;
  float:left;
  position:fixed;
}

header img {
  max-width:250px;
}

header h1, h2, h3 {
  color: midnightblue;
}



section {
  max-width:900px;
  margin-left: 300px;
  background-color: antiquewhite;
  padding:25px;
}

section h1, h2, h3 {
  color: darkred;
}


@media screen and (max-width: 700px) {

  header, section {
    width:auto;
    float:none;
    margin-left:0px;
    position:static;
    font-size:100%;
  }

}